
.ui-content {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
    font-family: Impact, Charcoal, sans-serif;
}

[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 

.ui-dialog-contain {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 15px;
	position: relative;
	top: -15px;
}

html, body, #map {
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0;
	margin: 0;
}

.ui-header{
	background-color: gray;
}

#map {
    cursor: pointer !important;
}

/* Mouse Down */
#map:active {
    cursor: move !important;
}

.white{
	color:white;
}

.black{
	color:black;
	font-weight: normal;
	padding:10px;
}

.navcolorfix{
	background-color: #333; 
}

#descriptionPopup{
	background-color:#FFFFFF;
}

h4{
	font-size: 16px;
}

#globe{
	position:absolute;
	left:10px;
	top:80px;
}

#legend{
	position:absolute;
	left:10px;
	top:110px;
}

#boundaryChange{
	position:absolute;
	left:10px;
	top:140px;
}

#share{
	position:absolute;
	right:6px;
	top:6px;
}

@media all and (max-width: 24em) {
    .portrait {
	  	padding:2px;
	    font-size: 11px;
    }
}

@media all and (max-width: 120em) and (min-width:25em){
    .portrait {
	  	padding:2px;
	    font-size: 15px;
    }
}